.send-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #525252;
}

.send-message-container input {
  color: #e0e0e0;
  background-color: #505050;
  border: 1px solid #644848;
  border-radius: 10px;
  padding: 8px;
  width: 50%; /* Adjust to your desired width */
  height: 30px;
  font-size: 14px;
  text-align: left;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
  outline: none; /* Remove the default input outline */
}

.send-message-container input::placeholder {
  color: #888; /* Adjust the placeholder color */
}

.send-message-container input:focus {
  border-color: #ff6767; /* Change the border color when input is focused */
}

.send-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-40px);
  cursor: pointer;
}
