.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(168, 166, 166, 0);
  padding: 10px 50px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}
