.messages-main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 70px 0 100px 0;
}

.message-inner-container {
  display: flex;
  padding: 10px;
}
