.pdfs-container {
  /* Your existing styles */
  padding: 10px;
  margin-top: 100px;
  /* Add margin between the elements */
  margin-bottom: 20px;
}

.pdfs-container > *:not(:last-child) {
  /* Add margin-bottom to all elements except the last one */
  margin-bottom: 10px;
}

.pdfs-container input[type="text"] {
  background-color: #ffffff00;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  /* ... */
}

.pdfs-container input[type="text"]:focus {
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  /* ... */
}
