:root {
  --color-primarydark-darkmode: #687a6e;
  --color-primarylight-darkmode: #d8d6c9;
  --color-hover-darkmode: #5f5e4b;
  --color-secondarydark-darkmode: #242932;
  --color-secondarylight-darkmode: #d1cccc;
  --color-button-darkmode: #d8d6c9;
  --color-button-hover-darkmode: #ffffff;
  --color-background-darkmode: #3f4a48;
  --color-font-button-darkmode: #363634;
  --font-darkmode: #d8d6c9;
  --font-brightmode: #202020;
  --tooltip-bg: #feffb0;
  --tooltip-font: #111;
}

body {
  color: var(--font-darkmode);
  background-color: var(--color-background-darkmode);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: var(--color-secondarydark-darkmode);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-hover-darkmode); /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --color-primarylight-darkmode
  ); /* Color of the scrollbar handle on hover */
}
