:root {
  --user-msg-bg-color: #333333;
  --ai-msg-bg-color: #444444;
  --font-darkmode: #dfdede;
}

body {
  color: var(--font-darkmode) !important;
  line-height: 2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
